:root {
  --base-color: #1e2c2b;
  --base-color-light: #324948;
  --base-color-dark: #121a1a;
  --primary-brand-color: #c19d53;
  --primary-brand-color-light: #e5c88f;
  --primary-hover-color: #967636;
  --secondary-hover-color: #c19d5340;
  --text-color: #e0e0e0;
  --text-color-faded: #999999;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}

header {
  background-color: var(--base-color-dark);
}

footer {
  background-color: var(--base-color-dark);
}

nav {
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  width: 70rem;
}

.nav-link,
.nav-link:hover {
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);
}

.btn-primary:hover {
  background-color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
}

.btn-secondary {
  background-color: inherit;
  color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover-color);
  color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);
}

#search-input {
  background-color: inherit;
  color: var(--text-color);
}

#search-input::placeholder {
  color: var(--text-color-faded);
  opacity: 1;
}